@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


@font-face {
  font-family: 'Singolare';
  src: url('/singolare-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Abnes';
  src: url('/abnes.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1F1F1F;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Inter", sans-serif;
  font-family: 'Singolare';
  max-width: 1800px;
  margin: 0px auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Abnes';
}

.about-us-hero {
  /* background: url("/assets/images/consulting/hero.png"); */
  background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url("/assets/images/consulting/sec-hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.talent-hero-img {
  position: relative;
}

.talent-hero-link {
  position: absolute;
  bottom: 5%;
  left: 0%;
  width: 100%;
}

.bottom.panel {
  padding: 0px 40px 30px;
  border-radius: 0px 0px 20px 20px;
}

.panel {
  padding: 0px 40px 10px;
  border-radius: 0px;
  text-align: center;
  border: 2px solid #484848;
  background: rgba(72, 72, 72, .35);
  border-top: none;
  border-bottom: none;
}

.panel.bottom.info {
  border-bottom: 2px solid #484848;
}

.panel .panel-item {
  color: #C5C5C5;
  border-bottom: 2px solid rgba(72, 72, 72, 1);
  line-height: 1.8;
  margin-bottom: 20px;
}


.panel.list .panel-item {
  color: #fff;
  text-align: left;
}

.panel p {
  text-align: left;
  color: #CBCBCB;
}

.panel.list {
  background: none;
  border: none;
}

.panel h4 {
  margin-bottom: 20px;
  color: #FF540B;
  text-align: left;
  visibility: hidden;
}

.panel h4.mb-0 {
  margin-bottom: 0px;
}

.brand h4 {
  color: #fff;
}

.panel.list h4 {
  visibility: visible;
}

.panel.top {
  text-align: center;
}

.panel.top h4 {
  visibility: visible;
  color: #FFF;
  text-align: center;
}

.panel.top p {
  text-align: center;
}

.panel.top h5 {
  color: #FF540B;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.panel.top h5 span {
  color: #CBCBCB;
}

.top.panel {
  padding: 30px 40px 0px;
  border-radius: 20px 20px 0px 0px;
  border-top: 2px solid #484848;
}

.bottom.top.panel {
  padding: 30px 40px 30px;
}

.brand {
  background: #FF540B;
  border-radius: 8px 0px 0px 8px;
}

.pricing-list-display .contain {
  padding-left: 5%;
}

.payment-plan {
  padding-right: 5%;
}

.top-right {
  transform: rotate(-40deg);
}


.talent-6 {
  background: url("/assets/images/about/ahead.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.talent-5 {
  background: url("/assets/images/about/philosophy.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.talent-4 {
  background: url("/assets/images/about/talent.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.talent-3 {
  background: url("/assets/images/about/what.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.talent-2 {
  background: url("/assets/images/about/journey.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.talent-1 {
  background: url("/assets/images/about/story.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}


.home-hero {
  /* background: url("/assets/images/hero.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100vh;
}

.home-hero video {
  height: 56.25vw;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 10px);
  transform: translate3d(-50%, -50%, 10px);
  width: 100vw;
  z-index: 1;
}

.ant-drawer-content-wrapper {
  width: 100% !important;
}

.ant-drawer-header {
  display: none !important;
}

.ant-drawer-body {
  background: #02070E;
}

.ant-drawer-body .menu-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.production-text {
  font-family: "Poppins", sans-serif;
}

.talent .talent-1 {
  background: url("/assets/images/talent/offer_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.talent .talent-2 {
  background: url("/assets/images/talent/offer_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.talent .talent-3 {
  background: url("/assets/images/talent/offer_3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.nav-bar {
  transition: transform .5s ease-in-out, width .5s ease-in-out;
}

.slant {
  transform: rotate(-35deg);
  transform-origin: 0%;
  width: 2.8rem;
  transition: transform .5s ease-in-out, width .5s ease-in-out;
}

.slant.top {
  transform: rotate(35deg);
  transform-origin: 0%;
}

.dropdown {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height .5s ease-in-out, opacity .5s ease-in-out, padding .5s ease-in-out;
}

.dropdown.display {
  opacity: 1;
  max-height: 20rem;
  transition: max-height .5s ease-in-out, opacity .5s ease-in-out, padding .5 ease-in-out;
}

.dropdown ul li a {
  color: rgba(253, 253, 253, .7);
}


.visibility-company-tab {
  border: 2px solid #B6B6B6;
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0px auto;
  transition: background .5s ease-in-out, border .5s ease-in-out;
}

.visibility-company-tab img {
  height: 3rem;
  width: auto;
  transition: height .5s ease-in-out;
}

.visibility-company-tab.smaller img {
  height: 2rem;
}

.visibility-company-tab.small img {
  height: 2.3rem;
}

.visibility-company-tab.bigger img {
  height: 3.5rem;
}

.visibility-company-slider .swiper-slide-active .visibility-company-tab {
  background: #FD532F;
  border: 1px solid #FD532F;
  height: 180px;
  width: 180px;
}

.swiper-wrapper {
  align-items: center;
}

.bg-light-blue .swiper-wrapper {
  align-items: unset;
}

.visibility-company-slider .swiper-slide-active .visibility-company-tab img {
  height: 5rem;
}

.visibility-company-slider .swiper-slide-active .visibility-company-tab.bigger img {
  height: 7rem;
}

/* .visibility-company-slider .swiper-slide-active .visibility-company-tab.bigger {
  height: 20rem;
  width: 20rem;
} */

.visibility-company-slider .swiper-slide-active .visibility-company-tab.smaller img {
  height: 3.3rem;
}

.visibility-company-slider {
  position: relative;
}

.visibility-company-slider .slider-controller {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.visibility-company-slider .slider-controller button {
  border: 2px solid #B6B6B6;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.visibility-company-slider .slider-controller.left {
  left: 0px;
  top: 0px;
}

.visibility-company-slider .slider-controller.right {
  right: 0px;
  top: 0px;
}

.company-box {
  width: calc(100% - 300px);
  margin: 0px auto;
  display: block;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  grid-gap: 20px;
}

.custom-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-dot.active {
  background-color: #F65330;
}

.service-bar .swiper-wrapper {
  align-items: unset;
}


.talent-6 {
  background: url("/assets/images/about/ahead.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.talent-5 {
  background: url("/assets/images/about/philosophy.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.talent-4 {
  background: url("/assets/images/about/talent.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.talent-3 {
  background: url("/assets/images/about/what.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.talent-2 {
  background: url("/assets/images/about/journey.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.talent-1 {
  background: url("/assets/images/about/story.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}


@media screen and (max-width:750px) {
  .arrow-box-link {
    width: 80px;
    height: 80px;
    right: -5px;
  }

  .arrow-box-link img {
    width: 1.3rem;
  }

  .bottom-tag .container .container {
    padding: 0px;
  }

  .bg-light-blue .swiper-wrapper {
    align-items: unset;
  }

  .company-box {
    width: calc(100% - 200px);
  }

  .visibility-company-slider .slider-controller {
    height: 100px;
    width: 100px;
    height: 100%;
  }

  .visibility-company-tab {
    margin: 0px auto;
  }

  .talent-hero {
    background: #090909;
    padding: 20% 2%;
  }

  .talent-hero .talent-text h3 {
    line-height: 1;
    font-size: 3.2rem;
  }

  .talent-hero .talent-text p {
    width: 100%;
  }

  .talent-hero .video-grid {
    margin-top: 10%;
  }


  .custom-dot {
    height: 15px;
    width: 15px;
  }

  .visibility-company-slider .slider-controller button {
    width: 60px;
    height: 60px;
  }

  .visibility-company-slider .slider-controller button img {
    width: 20px;
    height: auto;
  }

  .visibility-company-slider .swiper-slide-active .visibility-company-tab.smaller img {
    height: 3rem;
  }

  .bottom-cover .arrow-box-link {
    width: 80px;
    height: 80px;
    right: 80px;
  }
}